n8n-workflows/Lead_Scoring_CORRECTED.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-activity",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Lead Activity Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2180,
        4040
      ],
      "webhookId": "lead-activity-webhook",
      "id": "12906409-0b1a-4717-a494-97fabbd89b4a"
    },
    {
      "parameters": {},
      "name": "Hourly Score Update",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -2180,
        3840
      ],
      "id": "f1717f74-d584-492c-8187-39b8cb53c1b2"
    },
    {
      "parameters": {
        "jsCode": "// Advanced lead scoring algorithm with error handling\ntry {\n  const inputData = $input.all();\n  \n  // Always return at least one item to prevent workflow stops\n  if (!inputData || inputData.length === 0) {\n    return [{ json: { \n      error: \"No input data received\", \n      leads_processed: 0,\n      status: \"no_input\",\n      timestamp: new Date().toISOString()\n    } }];\n  }\n\n  const response = $input.first().json;\n  console.log('Raw response:', JSON.stringify(response, null, 2));\n  \n  // Multiple ways to extract leads data\n  let leads = [];\n  if (response && response.items) {\n    leads = response.items;\n  } else if (response && response.data) {\n    leads = response.data;\n  } else if (Array.isArray(response)) {\n    leads = response;\n  } else if (response) {\n    leads = [response];\n  }\n  \n  console.log('Extracted leads:', leads.length, 'items');\n  \n  if (!leads || leads.length === 0) {\n    return [{ json: { \n      message: \"No leads found to process\", \n      leads_processed: 0, \n      status: \"no_leads\",\n      raw_response: response,\n      timestamp: new Date().toISOString()\n    } }];\n  }\n\n  const scoredLeads = [];\n\n  for (const lead of leads) {\n  let score = 0;\n  let scoreBreakdown = {\n    demographic: 0,\n    behavioral: 0,\n    engagement: 0,\n    firmographic: 0,\n    temporal: 0\n  };\n  \n  // DEMOGRAPHIC SCORING (0-25 points)\n  if (lead.job_title) {\n    const title = lead.job_title.toLowerCase();\n    if (title.includes('ceo') || title.includes('founder') || title.includes('president')) {\n      scoreBreakdown.demographic += 25;\n    } else if (title.includes('vp') || title.includes('director') || title.includes('head')) {\n      scoreBreakdown.demographic += 20;\n    } else if (title.includes('manager') || title.includes('lead')) {\n      scoreBreakdown.demographic += 15;\n    } else {\n      scoreBreakdown.demographic += 10;\n    }\n  }\n  \n  // FIRMOGRAPHIC SCORING (0-25 points)\n  if (lead.company_size) {\n    if (lead.company_size >= 1000) scoreBreakdown.firmographic += 25;\n    else if (lead.company_size >= 100) scoreBreakdown.firmographic += 20;\n    else if (lead.company_size >= 50) scoreBreakdown.firmographic += 15;\n    else if (lead.company_size >= 10) scoreBreakdown.firmographic += 10;\n    else scoreBreakdown.firmographic += 5;\n  }\n  \n  // Industry scoring\n  if (lead.industry) {\n    const highValueIndustries = ['technology', 'saas', 'finance', 'healthcare', 'consulting'];\n    if (highValueIndustries.some(ind => lead.industry.toLowerCase().includes(ind))) {\n      scoreBreakdown.firmographic += 10;\n    }\n  }\n  \n  // BEHAVIORAL SCORING (0-30 points)\n  if (lead.website_visits) {\n    if (lead.website_visits >= 10) scoreBreakdown.behavioral += 15;\n    else if (lead.website_visits >= 5) scoreBreakdown.behavioral += 10;\n    else if (lead.website_visits >= 2) scoreBreakdown.behavioral += 5;\n  }\n  \n  if (lead.pages_viewed) {\n    if (lead.pages_viewed >= 20) scoreBreakdown.behavioral += 15;\n    else if (lead.pages_viewed >= 10) scoreBreakdown.behavioral += 10;\n    else if (lead.pages_viewed >= 5) scoreBreakdown.behavioral += 5;\n  }\n  \n  // ENGAGEMENT SCORING (0-20 points)\n  if (lead.email_opens) {\n    if (lead.email_opens >= 5) scoreBreakdown.engagement += 10;\n    else if (lead.email_opens >= 2) scoreBreakdown.engagement += 5;\n  }\n  \n  if (lead.email_clicks) {\n    if (lead.email_clicks >= 3) scoreBreakdown.engagement += 10;\n    else if (lead.email_clicks >= 1) scoreBreakdown.engagement += 5;\n  }\n  \n  if (lead.downloads) {\n    scoreBreakdown.engagement += Math.min(lead.downloads * 3, 10);\n  }\n  \n  // TEMPORAL SCORING - Recent activity bonus (0-10 points)\n  const now = new Date();\n  const lastActivity = new Date(lead.last_activity_at || lead.created_at);\n  const daysSinceActivity = (now - lastActivity) / (1000 * 60 * 60 * 24);\n  \n  if (daysSinceActivity <= 1) scoreBreakdown.temporal += 10;\n  else if (daysSinceActivity <= 3) scoreBreakdown.temporal += 7;\n  else if (daysSinceActivity <= 7) scoreBreakdown.temporal += 5;\n  else if (daysSinceActivity <= 14) scoreBreakdown.temporal += 3;\n  \n  // NEGATIVE SCORING\n  if (lead.unsubscribed) score -= 50;\n  if (lead.bounced_emails && lead.bounced_emails > 2) score -= 20;\n  if (daysSinceActivity > 90) score -= 20;\n  \n  // Calculate final score\n  score = Object.values(scoreBreakdown).reduce((sum, val) => sum + val, 0);\n  score = Math.max(0, Math.min(100, score)); // Cap between 0-100\n  \n  // Determine lead temperature\n  let temperature;\n  let nextAction;\n  \n  if (score >= 80) {\n    temperature = 'hot';\n    nextAction = 'immediate_sales_contact';\n  } else if (score >= 60) {\n    temperature = 'warm';\n    nextAction = 'personalized_follow_up';\n  } else if (score >= 40) {\n    temperature = 'cold';\n    nextAction = 'nurturing_sequence';\n  } else {\n    temperature = 'frozen';\n    nextAction = 're_engagement_campaign';\n  }\n  \n  scoredLeads.push({\n    ...lead,\n    previous_score: lead.score,\n    score: score,\n    score_breakdown: scoreBreakdown,\n    lead_temperature: temperature,\n    recommended_action: nextAction,\n    score_updated_at: now.toISOString(),\n    score_change: score - (lead.score || 0)\n  });\n  }\n\n  console.log('Processed', scoredLeads.length, 'leads');\n  return scoredLeads.map(lead => ({ json: lead }));\n  \n} catch (error) {\n  console.error('Error in lead scoring:', error);\n  return [{ json: { \n    error: error.message, \n    status: \"error\",\n    timestamp: new Date().toISOString()\n  } }];\n}"
      },
      "name": "Calculate Lead Scores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1740,
        3940
      ],
      "id": "0c9edd0e-1ce4-4488-8a2b-e548576b0b72"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.score_change}}",
              "operation": "largerEqual",
              "value2": 10
            }
          ]
        }
      },
      "name": "Significant Score Change",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1520,
        3940
      ],
      "id": "a2ed24a0-a81c-4152-9562-e0dce2c708ed"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ \"http://backend:8000/api/leads/\" + $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkZXZ1c2VyIiwiZXhwIjoxNzQ5Mzc2MjI2fQ.Fm3HrC_kQqld2jG4Pndz4Ts2np_kGlIxmxsiXn_XIiU"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ {\n  \"lead_temperature\": $json.lead_temperature,\n  \"score\": $json.score,\n  \"score_breakdown\": $json.score_breakdown\n} }}",
        "options": {}
      },
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1300,
        3940
      ],
      "id": "59ce3866-5615-47eb-a503-efd73fb32fb4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiDt5Ri93QZxjGEm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.lead_temperature}}",
              "value2": "hot"
            }
          ]
        }
      },
      "name": "Is Hot Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1080,
        3840
      ],
      "id": "f91f38a1-1d38-4b47-9066-62b81a809f17"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.lead_temperature}}",
              "value2": "warm"
            }
          ]
        }
      },
      "name": "Is Warm Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1080,
        4140
      ],
      "id": "0b0c4293-1a59-4f0c-9121-bdc1528e9e35"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/workflows/leads/social-outreach?temperature=hot&limit=5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkZXZ1c2VyIiwiZXhwIjoxNzQ5Mzc2MjI2fQ.Fm3HrC_kQqld2jG4Pndz4Ts2np_kGlIxmxsiXn_XIiU"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Hot Leads for Outreach",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -860,
        3940
      ],
      "id": "ca0c479e-03a0-4e74-9e35-aedcd8147d14",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiDt5Ri93QZxjGEm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/workflows/leads/{{$json.id}}/social-outreach",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkZXZ1c2VyIiwiZXhwIjoxNzQ5Mzc2MjI2fQ.Fm3HrC_kQqld2jG4Pndz4Ts2np_kGlIxmxsiXn_XIiU"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "outreach_type",
              "value": "email_alert"
            },
            {
              "name": "message_sent",
              "value": "true"
            },
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "notes",
              "value": "Sales team notified about hot lead (Score: {{$json.score}})"
            }
          ]
        },
        "options": {}
      },
      "name": "Log Sales Alert Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -860,
        4140
      ],
      "id": "1f5f2a0f-7cb2-4db5-8e27-29b52f02fc8d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiDt5Ri93QZxjGEm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/workflows/leads/crm-sync?limit=10",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkZXZ1c2VyIiwiZXhwIjoxNzQ5Mzc2MjI2fQ.Fm3HrC_kQqld2jG4Pndz4Ts2np_kGlIxmxsiXn_XIiU"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Leads for CRM Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -640,
        3940
      ],
      "id": "c0c33f6a-1b77-4bd8-84cd-27db9ad3dc28",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiDt5Ri93QZxjGEm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"success\",\n  \"message\": \"Lead scoring completed\",\n  \"processed_leads\": $('Calculate Lead Scores').all().length || 0,\n  \"hot_leads\": $('Is Hot Lead').all().length || 0,\n  \"warm_leads\": $('Is Warm Lead').all().length || 0,\n  \"crm_sync_leads\": $('Get Leads for CRM Sync').all().length || 0,\n  \"actions_triggered\": [\"score_update\", \"status_update\", \"crm_sync\"],\n  \"workflow_execution\": \"complete\",\n  \"timestamp\": $now.toISO()\n} }}",
        "options": {}
      },
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -420,
        3940
      ],
      "id": "9f5a9a44-47e7-4a8a-af92-f58232ca09bd"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/leads/dev?test_scoring=true&limit=20",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkZXZ1c2VyIiwiZXhwIjoxNzQ5Mzc2MjI2fQ.Fm3HrC_kQqld2jG4Pndz4Ts2np_kGlIxmxsiXn_XIiU"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Leads for Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1960,
        3940
      ],
      "id": "94217955-c9f6-40af-9d64-e91f1b9dc037",
      "credentials": {
        "httpHeaderAuth": {
          "id": "oiDt5Ri93QZxjGEm",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "admin@worklinesupply.co",
        "toEmail": "admin@worklinesupply.co",
        "subject": "🔥 Hot Lead Alert: {{$json.first_name}} {{$json.last_name}} (Score: {{$json.score}})",
        "text": "Hot lead detected!\n\nName: {{$json.first_name}} {{$json.last_name}}\nEmail: {{$json.email}}\nCompany: {{$json.company}}\nScore: {{$json.score}}/100\nTemperature: {{$json.lead_temperature}}\nRecommended Action: {{$json.recommended_action}}\n\nScore Breakdown:\n- Demographic: {{$json.score_breakdown.demographic}}\n- Behavioral: {{$json.score_breakdown.behavioral}}\n- Engagement: {{$json.score_breakdown.engagement}}\n- Firmographic: {{$json.score_breakdown.firmographic}}\n- Temporal: {{$json.score_breakdown.temporal}}\n\nPlease contact this lead immediately.",
        "options": {}
      },
      "name": "Send Sales Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -860,
        3740
      ],
      "id": "14a8f4d4-1a9f-46ae-9a97-e0c6cf725328",
      "webhookId": "0f821493-aaae-4b5a-862c-6d8c4f8f4b33",
      "credentials": {
        "smtp": {
          "id": "oUUb1YUXYrAx2yyo",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Lead Activity Webhook": {
      "main": [
        [
          {
            "node": "Get Leads for Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hourly Score Update": {
      "main": [
        [
          {
            "node": "Get Leads for Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Lead Scores": {
      "main": [
        [
          {
            "node": "Significant Score Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Significant Score Change": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status": {
      "main": [
        [
          {
            "node": "Is Hot Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Warm Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Hot Lead": {
      "main": [
        [
          {
            "node": "Get Hot Leads for Outreach",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Sales Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Warm Lead": {
      "main": [
        [
          {
            "node": "Log Sales Alert Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hot Leads for Outreach": {
      "main": [
        [
          {
            "node": "Get Leads for CRM Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sales Alert Activity": {
      "main": [
        [
          {
            "node": "Get Leads for CRM Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads for CRM Sync": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads for Scoring": {
      "main": [
        [
          {
            "node": "Calculate Lead Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Sales Alert Email": {
      "main": [
        [
          {
            "node": "Get Leads for CRM Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "660a8e81-65fa-401f-b9f2-e02ba23501fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6a1a37609b3da311eebf03d0e0fc477b422f347511e16f7ec3b973c5186e52a"
  },
  "id": "QiwtxVyIFCs1tCXf",
  "tags": [
    {
      "name": "Lead Scoring",
      "id": "WSlnTdHC1OcET5c6",
      "createdAt": "2025-06-08T07:56:51.662Z",
      "updatedAt": "2025-06-08T07:56:51.662Z"
    },
    {
      "name": "Automation",
      "id": "M47igSPAFrLx9Fsf",
      "createdAt": "2025-06-08T07:56:51.676Z",
      "updatedAt": "2025-06-08T07:56:51.676Z"
    }
  ]
}