n8n-workflows/lead-nurturing-template.json
{
  "name": "Lead Nurturing Email Sequence",
  "meta": {
    "templateId": "lead-nurturing-sequence",
    "templateCredsSetupCompleted": false
  },
  "nodes": [
    {
      "parameters": {},
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [740, 240],
      "id": "74c1f9bb-c7ad-4e7c-a4e6-8c2d8a5a3b4c"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-nurture",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Lead Data Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [740, 380],
      "webhookId": "lead-nurture-webhook",
      "id": "29a1b8dd-e3f4-4c5a-9c6b-1d2e3f4a5b6c"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.email}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.firstName}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Validate Lead Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [960, 380],
      "id": "3b4c5d6e-7f8a-9b0c-1d2e-3f4a5b6c7d8e"
    },
    {
      "parameters": {
        "operation": "create",
        "table": "leads",
        "columns": "email,first_name,last_name,company,source,status,created_at",
        "additionalFields": {
          "mode": "insert",
          "upsert": false
        }
      },
      "name": "Create Lead Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1180, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "LMA Database"
        }
      },
      "id": "4c5d6e7f-8a9b-0c1d-2e3f-4a5b6c7d8e9f"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "hours"
      },
      "name": "Wait 2 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1400, 300],
      "id": "5d6e7f8a-9b0c-1d2e-3f4a-5b6c7d8e9f0a"
    },
    {
      "parameters": {
        "subject": "Welcome to our platform, {{$json.firstName}}!",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>Welcome Email</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n    <h1 style=\"color: #2c3e50;\">Welcome {{$json.firstName}}!</h1>\n    \n    <p>Thank you for your interest in our Lead Management Automation platform. We're excited to help you streamline your sales process and boost your conversion rates.</p>\n    \n    <div style=\"background-color: #f8f9fa; padding: 20px; border-radius: 5px; margin: 20px 0;\">\n      <h3 style=\"margin-top: 0;\">What's Next?</h3>\n      <ul>\n        <li>Our team will review your information</li>\n        <li>You'll receive a personalized demo invitation</li>\n        <li>We'll set up your custom automation workflows</li>\n      </ul>\n    </div>\n    \n    <p>If you have any questions, feel free to reply to this email or contact our support team.</p>\n    \n    <p>Best regards,<br>\n    The LMA Team</p>\n    \n    <hr style=\"border: none; border-top: 1px solid #eee; margin: 30px 0;\">\n    <p style=\"font-size: 12px; color: #666;\">This is an automated message from Lead Management Automation. Lead Source: {{$json.source || 'Website'}}</p>\n  </div>\n</body>\n</html>",
        "toEmail": "={{$json.email}}",
        "fromEmail": "noreply@leadmanagement.com",
        "fromName": "LMA Team"
      },
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1620, 300],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP Email"
        }
      },
      "id": "6e7f8a9b-0c1d-2e3f-4a5b-6c7d8e9f0a1b"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1840, 300],
      "id": "7f8a9b0c-1d2e-3f4a-5b6c-7d8e9f0a1b2c"
    },
    {
      "parameters": {
        "subject": "How are you finding our platform, {{$json.firstName}}?",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>Follow-up Email</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n    <h1 style=\"color: #2c3e50;\">Hi {{$json.firstName}},</h1>\n    \n    <p>It's been a few days since you showed interest in our Lead Management Automation platform. I wanted to check in and see if you have any questions about how we can help streamline your sales process.</p>\n    \n    <div style=\"background-color: #e8f5e8; padding: 20px; border-radius: 5px; margin: 20px 0; border-left: 4px solid #28a745;\">\n      <h3 style=\"margin-top: 0; color: #155724;\">Quick Benefits Recap:</h3>\n      <ul style=\"margin-bottom: 0;\">\n        <li><strong>80% Automation:</strong> Let n8n handle routine tasks</li>\n        <li><strong>Real-time Analytics:</strong> Track every lead interaction</li>\n        <li><strong>Smart Scoring:</strong> Prioritize your best prospects</li>\n        <li><strong>Multi-channel Outreach:</strong> Email, LinkedIn, and more</li>\n      </ul>\n    </div>\n    \n    <p>Would you like to schedule a quick 15-minute demo to see the platform in action? I can show you exactly how it would work for {{$json.company || 'your business'}}.</p>\n    \n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://calendly.com/lma-demo\" style=\"background-color: #007bff; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; display: inline-block;\">Schedule Demo</a>\n    </div>\n    \n    <p>Best regards,<br>\n    Sarah Johnson<br>\n    Customer Success Manager</p>\n    \n    <hr style=\"border: none; border-top: 1px solid #eee; margin: 30px 0;\">\n    <p style=\"font-size: 12px; color: #666;\">Lead ID: {{$json.leadId || 'N/A'}} | Company: {{$json.company || 'Not specified'}}</p>\n  </div>\n</body>\n</html>",
        "toEmail": "={{$json.email}}",
        "fromEmail": "sarah@leadmanagement.com",
        "fromName": "Sarah Johnson - LMA Team"
      },
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2060, 300],
      "credentials": {
        "smtp": {
          "id": "2",
          "name": "SMTP Email"
        }
      },
      "id": "8a9b0c1d-2e3f-4a5b-6c7d-8e9f0a1b2c3d"
    },
    {
      "parameters": {
        "operation": "update",
        "table": "leads",
        "updateKey": "email",
        "columns": "status,last_contacted_at,notes",
        "additionalFields": {}
      },
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [2280, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "LMA Database"
        }
      },
      "id": "9b0c1d2e-3f4a-5b6c-7d8e-9f0a1b2c3d4e"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Lead nurturing sequence completed\",\n  \"leadEmail\": \"{{$json.email}}\",\n  \"sequenceSteps\": 3,\n  \"completedAt\": \"{{$now.toISO()}}\"\n}"
      },
      "name": "Return Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2500, 300],
      "id": "0c1d2e3f-4a5b-6c7d-8e9f-0a1b2c3d4e5f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"Invalid lead data - missing required fields\",\n  \"required\": [\"email\", \"firstName\"],\n  \"received\": {{JSON.stringify($json)}}\n}",
        "responseCode": 400
      },
      "name": "Return Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1180, 480],
      "id": "1d2e3f4a-5b6c-7d8e-9f0a-1b2c3d4e5f6a"
    }
  ],
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Validate Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Data Webhook": {
      "main": [
        [
          {
            "node": "Validate Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead Data": {
      "main": [
        [
          {
            "node": "Create Lead Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead Record": {
      "main": [
        [
          {
            "node": "Wait 2 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Hours": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Follow-up Email": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status": {
      "main": [
        [
          {
            "node": "Return Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "America/New_York",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "id": "lead-management",
      "name": "Lead Management"
    },
    {
      "id": "email-automation",
      "name": "Email Automation"
    },
    {
      "id": "nurturing",
      "name": "Lead Nurturing"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-01-15T10:30:00.000Z",
  "versionId": "1"
} 